# The gitignore!

# Any created data files
data/
# Ignore snakemake files
Snakefile
.snakemake
# Ignore any created html files
*.html
# ignore the rproject
scRNAseq-workflow.Rproj
.Rproj.user
.gitignore
.httr-oauth
