# The gitignore!
# Any created data files
data/
# Ignore snakemake files
Snakefile
.snakemake
# Ignore any created html files
*.html
# ignore the rproject
scRNAseq-workflow.Rproj
.Rproj.user
.gitignore
.httr-oauth


__pycache__
.Rhistory
snakemake_helper_functions.pyc

# ignore a bunch of edgeR files 
edgeR_basic_integration.Rmd
edgeR_pseudo_O.Rmd
edgeR_cluster_O.Rmd
edger_basic_O.Rmd
edgeR_HKG_O.Rmd
edgeR_cluster_O.html
edgeR_basic.Rmd
edgeR_basic_batch.Rmd
edgeR_pseudo.Rmd
paired_dge_basic_O_old.Rmd

# this my own version, has some extra stuff that shouldnt be on the pipeline 
Snakefile_asli.py

# files we dont need in the pipeline for the cell assign portion of our analysis: 
integration_seurat_cellassign.Rmd 
integration_seurat_cellassign_O.Rmd 
run_cellassign_on_raw_data.R 

# ignore the velocity stuff
velocity

# ignore the scmerge, maybe i'll come back to this later 
scMerge

# ignore some random script i had been working on 
comebacklater.Rmd

test.txt
velocity.md
pipeline/cellassign/
